flows_rainfall_riverlevels.json
[{"id":"25a0644.ebf269c","type":"tab","label":"River Levels","disabled":false,"info":""},{"id":"a859852f.525528","type":"tab","label":"Rainfall","disabled":false,"info":""},{"id":"128f5521.0e316b","type":"mqtt-broker","name":"Test","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1394b5f8.91626a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"435b93e9.dc125c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"rainfall","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"a77f2530.357e18","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"riverlevels","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"f3295ae5.c5df88","type":"inject","z":"25a0644.ebf269c","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":400,"wires":[["4727b877.d5df38"]]},{"id":"4727b877.d5df38","type":"http request","z":"25a0644.ebf269c","name":"http request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/F1906/measures","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":400,"wires":[["979e2745.7dba28"]]},{"id":"979e2745.7dba28","type":"json","z":"25a0644.ebf269c","name":"","property":"payload","action":"","pretty":false,"x":570,"y":400,"wires":[["5a624b80.440c34"]]},{"id":"5a624b80.440c34","type":"function","z":"25a0644.ebf269c","name":"separate items","func":"for (var itemnumber in msg.payload.items) {\n    var item = msg.payload.items[itemnumber];\n    var rec = [\n       { \"time\":new Date(item.latestReading.dateTime),\n         \"value\":item.latestReading.value },\n       { \"parameter\":item.parameter,\n         \"stationReference\":item.stationReference,\n         \"label\":item.label,}\n    ]; \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n}\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":400,"wires":[["7f29958c.a469dc","2724fb09.1f8944"]]},{"id":"f1b65699.23a7c8","type":"inject","z":"25a0644.ebf269c","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":540,"wires":[["f868d3dd.085be"]]},{"id":"f868d3dd.085be","type":"http request","z":"25a0644.ebf269c","name":"http request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/L1907/measures","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":540,"wires":[["b1ed7b70.ced1e8"]]},{"id":"f1c5f3f0.451ed","type":"debug","z":"25a0644.ebf269c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":600,"wires":[]},{"id":"b1ed7b70.ced1e8","type":"json","z":"25a0644.ebf269c","name":"","property":"payload","action":"","pretty":false,"x":570,"y":540,"wires":[["51510423.a2082c"]]},{"id":"51510423.a2082c","type":"function","z":"25a0644.ebf269c","name":"separate items","func":"for (var itemnumber in msg.payload.items) {\n    var item = msg.payload.items[itemnumber];\n    var rec = [\n       { \"time\":new Date(item.latestReading.dateTime),\n         \"value\":item.latestReading.value },\n       { \"parameter\":item.parameter,\n         \"stationReference\":item.stationReference,\n         \"label\":item.label,}\n    ]; \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n}\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":540,"wires":[["f1c5f3f0.451ed","bfe669eb.782428"]]},{"id":"ca7a664e.9aa248","type":"comment","z":"25a0644.ebf269c","name":"Kettlewell -upstream","info":"","x":310,"y":360,"wires":[]},{"id":"9d24add6.f1af9","type":"comment","z":"25a0644.ebf269c","name":"Netherside Hall","info":"","x":300,"y":500,"wires":[]},{"id":"13d7ea6.2b1d016","type":"debug","z":"25a0644.ebf269c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":160,"wires":[]},{"id":"6c74acc7.efec94","type":"mqtt out","z":"25a0644.ebf269c","name":"","topic":"blhall195/feeds/test_feed","qos":"","retain":"","broker":"128f5521.0e316b","x":1170,"y":240,"wires":[]},{"id":"8f2c9bc5.3bd198","type":"function","z":"25a0644.ebf269c","name":"separate items","func":"\n    var item = msg.payload.items[0];\n    \n    var rec = [{\"value\":item.latestReading.value }]; \n    \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":240,"wires":[["54d5eaed.5e04e4"]]},{"id":"4a4bb952.ddb3f8","type":"json","z":"25a0644.ebf269c","name":"","property":"payload","action":"","pretty":false,"x":570,"y":240,"wires":[["8f2c9bc5.3bd198"]]},{"id":"d3d23a2d.9721f8","type":"http request","z":"25a0644.ebf269c","name":"http request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/F1906/measures","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":240,"wires":[["4a4bb952.ddb3f8"]]},{"id":"f15eacd1.9d67f","type":"inject","z":"25a0644.ebf269c","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":240,"wires":[["d3d23a2d.9721f8"]]},{"id":"54d5eaed.5e04e4","type":"split","z":"25a0644.ebf269c","name":"","splt":"value","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":870,"y":240,"wires":[["6c74acc7.efec94","13d7ea6.2b1d016"]]},{"id":"7f29958c.a469dc","type":"influxdb out","z":"25a0644.ebf269c","influxdb":"a77f2530.357e18","name":"","measurement":"riverlevels","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1070,"y":400,"wires":[]},{"id":"bfe669eb.782428","type":"influxdb out","z":"25a0644.ebf269c","influxdb":"a77f2530.357e18","name":"","measurement":"riverlevels","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1070,"y":540,"wires":[]},{"id":"2809990b.85b616","type":"debug","z":"a859852f.525528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":180,"wires":[]},{"id":"8da5e87b.5ed968","type":"function","z":"a859852f.525528","name":"separate items","func":"//return msg;\n\nfor (var itemnumber in msg.payload.items) {\n    var item = msg.payload.items[itemnumber];\n    var rec = [\n       { \"time\":new Date(item.dateTime),\n         \"value\":item.value },\n       { \"stationID\":'073422' }\n    ]; \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n}\n//return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":220,"wires":[["2809990b.85b616","19118437.6519cc"]]},{"id":"3824cecb.1fafd2","type":"json","z":"a859852f.525528","name":"","property":"payload","action":"","pretty":false,"x":530,"y":220,"wires":[["8da5e87b.5ed968"]]},{"id":"55060efa.ab80b","type":"http request","z":"a859852f.525528","name":"073422","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/073422/readings?latest","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":220,"wires":[["3824cecb.1fafd2"]]},{"id":"cf4fb345.0b3c3","type":"inject","z":"a859852f.525528","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":250,"y":220,"wires":[["55060efa.ab80b"]]},{"id":"19118437.6519cc","type":"influxdb out","z":"a859852f.525528","influxdb":"435b93e9.dc125c","name":"","measurement":"rainfall","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":220,"wires":[]},{"id":"738560c1.1399","type":"debug","z":"a859852f.525528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"26e1cb4f.cb03e4","type":"function","z":"a859852f.525528","name":"separate items","func":"//return msg;\n\nfor (var itemnumber in msg.payload.items) {\n    var item = msg.payload.items[itemnumber];\n    var rec = [\n       { \"time\":new Date(item.dateTime),\n         \"value\":item.value },\n       { \"stationID\":'062046' }\n    ]; \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n}\n//return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":320,"wires":[["738560c1.1399","d40ea632.db3cb8"]]},{"id":"3fb748d6.67dc78","type":"json","z":"a859852f.525528","name":"","property":"payload","action":"","pretty":false,"x":530,"y":320,"wires":[["26e1cb4f.cb03e4"]]},{"id":"6aef92e8.074c1c","type":"http request","z":"a859852f.525528","name":"062046","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/062046/readings?latest","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":320,"wires":[["3fb748d6.67dc78"]]},{"id":"a7b6f7e6.3457c8","type":"inject","z":"a859852f.525528","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":250,"y":320,"wires":[["6aef92e8.074c1c"]]},{"id":"d40ea632.db3cb8","type":"influxdb out","z":"a859852f.525528","influxdb":"435b93e9.dc125c","name":"","measurement":"rainfall","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":320,"wires":[]},{"id":"9cc6502c.4ddc3","type":"debug","z":"a859852f.525528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":380,"wires":[]},{"id":"5819a1dc.58958","type":"function","z":"a859852f.525528","name":"separate items","func":"//return msg;\n\nfor (var itemnumber in msg.payload.items) {\n    var item = msg.payload.items[itemnumber];\n    var rec = [\n       { \"time\":new Date(item.dateTime),\n         \"value\":item.value },\n       { \"stationID\":'061431' }\n    ]; \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n}\n//return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["9cc6502c.4ddc3","529ff60f.d519e8"]]},{"id":"4530c304.99704c","type":"json","z":"a859852f.525528","name":"","property":"payload","action":"","pretty":false,"x":530,"y":420,"wires":[["5819a1dc.58958"]]},{"id":"3c32a442.fb5d8c","type":"http request","z":"a859852f.525528","name":"061431","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/061431/readings?latest","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":420,"wires":[["4530c304.99704c"]]},{"id":"693ea421.10c12c","type":"inject","z":"a859852f.525528","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":250,"y":420,"wires":[["3c32a442.fb5d8c"]]},{"id":"529ff60f.d519e8","type":"influxdb out","z":"a859852f.525528","influxdb":"435b93e9.dc125c","name":"","measurement":"rainfall","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":420,"wires":[]},{"id":"33821b07.3e5c64","type":"debug","z":"a859852f.525528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]},{"id":"734c33eb.70c42c","type":"function","z":"a859852f.525528","name":"separate items","func":"//return msg;\n\nfor (var itemnumber in msg.payload.items) {\n    var item = msg.payload.items[itemnumber];\n    var rec = [\n       { \"time\":new Date(item.dateTime),\n         \"value\":item.value },\n       { \"stationID\":'057426' }\n    ]; \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n}\n//return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":520,"wires":[["33821b07.3e5c64","4de4869f.5922e8"]]},{"id":"67628c4f.f1a724","type":"json","z":"a859852f.525528","name":"","property":"payload","action":"","pretty":false,"x":530,"y":520,"wires":[["734c33eb.70c42c"]]},{"id":"151dc203.51d18e","type":"http request","z":"a859852f.525528","name":"057426","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/057426/readings?latest","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":520,"wires":[["67628c4f.f1a724"]]},{"id":"3dea4755.164348","type":"inject","z":"a859852f.525528","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":250,"y":520,"wires":[["151dc203.51d18e"]]},{"id":"9bc8f8e7.079b08","type":"debug","z":"a859852f.525528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":580,"wires":[]},{"id":"1692acb1.3b8313","type":"function","z":"a859852f.525528","name":"separate items","func":"//return msg;\n\nfor (var itemnumber in msg.payload.items) {\n    var item = msg.payload.items[itemnumber];\n    var rec = [\n       { \"time\":new Date(item.dateTime),\n         \"value\":item.value },\n       { \"stationID\":'074329' }\n    ]; \n    node.send({\"topic\":msg.topic, \"payload\":rec});\n}\n//return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":620,"wires":[["9bc8f8e7.079b08","5c82b44b.d1d41c"]]},{"id":"818a801a.1f9b4","type":"json","z":"a859852f.525528","name":"","property":"payload","action":"","pretty":false,"x":530,"y":620,"wires":[["1692acb1.3b8313"]]},{"id":"a31d6e68.66f56","type":"http request","z":"a859852f.525528","name":"074329","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://environment.data.gov.uk/flood-monitoring/id/stations/074329/readings?latest","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":620,"wires":[["818a801a.1f9b4"]]},{"id":"da08cdf1.645cf","type":"inject","z":"a859852f.525528","name":"","props":[{"p":"topic","v":"payload","vt":"msg"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":250,"y":620,"wires":[["a31d6e68.66f56"]]},{"id":"5c82b44b.d1d41c","type":"influxdb out","z":"a859852f.525528","influxdb":"435b93e9.dc125c","name":"","measurement":"rainfall","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":620,"wires":[]},{"id":"4de4869f.5922e8","type":"influxdb out","z":"a859852f.525528","influxdb":"435b93e9.dc125c","name":"","measurement":"rainfall","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":520,"wires":[]},{"id":"2724fb09.1f8944","type":"debug","z":"25a0644.ebf269c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]}]